.container {
    max-width: 400px;
    max-height: 400px;
    margin: 3vh auto 0 auto;
    /* box-shadow: 0px 0px 43px 17px rgba(153,153,153,1); */
    display:none
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(25, 32, 11);
  }
.choice{
    margin: 20px auto 0 auto;
    text-align: center;
}
#s4,#s6,#back{
    border: 0px solid #999;
    cursor: pointer;
    border-radius: 5px;  
    height: 30px; 
    font-size: 20px;
    background-color: cadetblue;
}

#grid{
    display: grid;
    /* border-bottom: 1px solid #999;
    border-left: 1px solid #999; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    border-spacing: 10000px;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button {
    border: 0.5px solid #999;
    cursor: pointer;
    color: transparent;
    border-radius: 20px;
    background-color: #a50fc386;

}

.button:active {
    background-color: #323330;
    color: white;
}

.glow{
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
#score{
    color: antiquewhite;
    font-size: 20px;
}
#level{
    color: antiquewhite;
    font-size: 30px;
    display: none;
}
#back{
    display: none;
    font-size: 30px;
    padding: auto;
}
.back{
    margin: auto;
    float:right;
    padding-right: 30px;
    text-align: center;
}

